.headerContainer {
    height: 5rem;
    border-bottom: 1px solid var(--gray-800);
}

.headerContent {
    max-width: 1120px;
    height: 5rem;
    margin: 0 auto; //centraliza horizontalmente
    padding: 0 2rem; //espaço caso haja redução da tela

    display: flex;
    align-items: center;

    nav {
        margin-left: 5rem;
        height: 5rem; //ocupa toda a altura

        a {
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            height: 5rem; //ocupa toda a altura
            line-height: 5rem; //centraliza o texto do link no centro
            color: var(--gray-300);
            transition: color 0.2s;

            &+a {
                margin-left: 2rem;
            }

            &:hover {
                color: var(--white);
            }

            &.active {
                color: var(--white);
                font-weight: bold;
            }

            &.active::after {
                content: '';
                height: 3px;
                border-radius: 3px 3px 0 0;
                width: 100%;
                position: absolute;
                bottom: 1px;
                left: 0;
                background: var(--yellow-500);
            }
        }
    }

    button {
        margin-left: auto; //vai tentar dar o máximo de margin que puder
    }
}